body {
    background-image: url('../img/pool_table.png');
  }
    
  .logo {
    font-family: 'Peralta', cursive;
  }
    
  .logo a {
    color: whitesmoke;
  }
    
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }